<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table id="auth-menu">
    <tr>
        <td>
            Имя
        </td>
        <td>
            <input type="text" id="usernameinput">
        </td>
    </tr>
    <tr>
        <td rowspan="99">
            <button id="usernameinputsubmit" onclick="submit_username($('#usernameinput').val());">Отправить</button>
        </td>
    </tr>
</table>

<div id="wellcome-screen" hidden>

    <h1>Wellcomen, <span id="username-show"></span></h1>

    <table>
        <tr>
            <td>
                <button onclick="start_new_game();">Новая игра</button>
            </td>
            <td>
                <button onclick="join_game($('#roomname_input').val())">Подключиться</button><input type="text" id="roomname_input">
            </td>
        </tr>
        <tr>
            <td>
                <button onclick="join_game($('#roomname_input').val(), 'spectator')">Как зритель</button>
            </td>
        </tr>
    </table>

</div>

<div id="waiting" hidden>
    <h1>Wating...</h1>
</div>

<div id="lobby" hidden>

    <button onclick="leave_game();">exit</button>

    <h1 id="lobby-name"></h1>

    <div id="ready-buttons">
        <button onclick="lobby_set_ready(1)" id="lobby-ready">Готов</button>
        <button onclick="lobby_set_ready(0)" hidden id="lobby-unready">Не готов</button>
    </div>

    <table id="lobby-players">
        <tr>
            <th>Игроки</th>
        </tr>
    </table>


    <div id="question" hidden>
        <h1>Игра началась!</h1>

        <div id="objectives">

            <div id="objective-active" hidden>
                <h2>Придумайте забавный ответ на вопрос</h2>
            </div>
            <div id="objective-wait" hidden>
                <h2>Ожидание других игроков</h2>
            </div>
        </div>

        <h3 id="question-view"></h3>

        <div id="answer-box" hidden>
            <input type="text" id="answer-inputtext">
            <button onclick="send_answer($('#answer-inputtext').val()); $('#answer-inputtext').val('')">Отправить</button>
        </div>

        <div id="voting-prompt" hidden>
            <table id="voting-table">
            </table>

            <button id="voting-button" onclick="send_vote($('.votecheck:checked').map(function(x) {return $(this).val();}).toArray());">Vote</button>

        </div>

        <div id="results">

            <div id="current-results" hidden>
                <h3>Результаты раунда</h3>
                <table id="curr_results-table">
                    <tr>
                        <th>
                            Автор
                        </th>
                        <th>
                            Ответ
                        </th>
                        <th>
                            Голоса
                        </th>
                    </tr>
                </table>
            </div>

            <div id="full-results" hidden>
                <h3>Текущий счет</h3>
                <table id="full_results-table">
                    <tr>
                        <th>
                            Счет
                        </th>
                        <th>
                            Игрок
                        </th>
                    </tr>
                </table>
            </div>

        </div>

    </div>

</div>





</body>
</html>

<script>

    var key = null;
    var username = null;
    var userid = null;
    var currgamename = null;
    var currgameid = null;
    var interval = null;

    function auth_done(data) {

        $('#username-show').text(username);

        key = data.key;
        userid = data.id;

        $('#waiting').hide();
        $('#auth-menu').hide();


        if(data.game != null) {
            enter_lobby(data.game);
        } else {
            $('#wellcome-screen').show();
        }



    }

    function enter_lobby(data) {

        currgamename = data.name;
        currgameid = data.id;

        $('#lobby-name').text(data.name);


        $('#wellcome-screen').hide();
        $('#waiting').hide();
        $('#lobby').show();

        start_lobby_update();
        interval = setInterval(start_lobby_update, 1000);

    }

    function update_lobby_data(data) {

        if(data.endgame != null) {
            clearInterval(interval);
            $('#lobby').hide();
            $('#wellcome-screen').show();
            return;
        }

        $("#lobby-players").find("tr:gt(0)").remove();

        const spectator = data.players.find(x => x.userid === userid) === undefined;

        switch (data.game.status) {
            case 'started': {

                if(spectator) {
                    $('#ready-buttons').hide();
                    $('#objectives').show();
                } else {
                    $('#ready-buttons').show();
                    $('#objectives').show();
                }

                $('#question').hide();
                $('#voting-prompt').hide();
                $('#voting-table').empty();
                $('#curr_results-table').hide();
                $('#current-results').hide();
                $('#full-results').hide();
                break;
            }
            case 'answers': {

                if(spectator) {
                    $('#objectives').hide();
                    $('#answer-box').hide();
                } else {
                    $('#objectives').show();
                    if(data.question != null) {
                        $('#answer-box').show();
                    } else {
                        $('#answer-box').hide();
                    }
                }

                $('#ready-buttons').hide();
                $('#question').show();
                $('#voting-prompt').hide();
                $('#question-view').text(data.question != null ? data.question.question : null);
                $('#voting-table').empty();
                $('#curr_results-table').hide();
                $('#current-results').hide();
                $('#full-results').hide();
                break;
            }
            case 'voting': {

                if(spectator) {
                    $('#objectives').hide();
                    $('#voting-button').hide();
                } else {
                    $('#objectives').show();
                    $('#voting-button').show();
                }

                $('#question-view').text(data.question != null ? data.question.question : null);
                $('#answer-box').hide();
                $('#voting-prompt').show();
                $('#ready-buttons').hide();
                $('#question').show();
                $('#objective-wait').hide();
                $('#curr_results-table').hide();
                $('#current-results').hide();
                $('#full-results').hide();

                if($('#voting-table').attr('game') != data.game.id ||
                    $('#voting-table').attr('round') != data.game.round ||
                    $('#voting-table').attr('subround') != data.game.subround) {

                    $('#voting-table').attr('game', data.game.id).attr('round', data.game.round).attr('subround', data.game.subround);
                    $('#voting-table').empty();

                    for (var answerid in data.voting) {
                        if(spectator || data.no_vote || data.voting[answerid].your_answer) {
                            $('#voting-table').append(`<tr><td>${data.voting[answerid].answer}</td></tr>`);
                        } else {
                            $('#voting-table').append(`<tr><td><label><input class="votecheck" type="radio" name="voting" value="${answerid}">${data.voting[answerid].answer}</label></td></tr>`);
                        }
                    }

                }
                break;
            }
            case 'showing_results': {
                $('#voting-prompt').hide();
                $('#objectives').hide();
                $('#question').show();
                $('#question-view').text(data.question != null ? data.question.question : null);
                $('#curr_results-table').show();
                $('#current-results').show();
                $('#full-results').show();

                $('.curr_results_user').remove();

                data.results.current.forEach(x => {

                    $('#curr_results-table').append(
                        `<tr class="curr_results_user" user="${x.player_id}">` +
                        `<td>(${x.results.default.sum})${x.player_name}</td>` +
                        `<td>${x.answer}</td>` +
                        '<td>' +
                        x.results.default.voters.map(y => y.name).join(' ') +
                        '</td>' +
                        '</tr>')

                });


                $('.full_results_user').remove();

                data.results.full.forEach(x => {

                    $('#full_results-table').append(
                        `<tr class="full_results_user" user="${x.id}">` +
                        `<td>${x.results.default.sum}</td>` +
                        `<td>${x.name}</td>` +
                        '</tr>')

                });



                break;
            }
        }

        $('#lobby').show();

        data.players.forEach(function (x) {
            if(x.ready === 'not ready') {
                if (x.userid === userid) {
                    $('#lobby-ready').show();
                    $('#lobby-unready').hide();
                }
                $("#lobby-players").append(`<tr><td style="color: red">${x.username}</td></tr>`);
            } else if(!x.answer_ready && data.game.started != null) {
                $("#lobby-players").append(`<tr><td style="color: #fff81c">${x.username}</td></tr>`);

                if (x.userid === userid) {
                    $('#objective-active').show();
                    $('#objective-wait').hide();
                }

            } else {
                $("#lobby-players").append(`<tr><td style="color: green">${x.username}</td></tr>`);

                if (x.userid === userid) {
                    $('#lobby-ready').hide();
                    $('#lobby-unready').show();

                    if(data.game.started != null) {
                        $('#objective-active').hide();
                        $('#objective-wait').show();
                    }

                }


            }
        });


    }

    function start_lobby_update() {

        $.ajax({
            type: 'POST',
            url: '/quip/lobby',
            dataType: 'json',
            data: {key:key, game:currgameid},
            success: function(data){
                update_lobby_data(data);
            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });

    }

    function send_vote(votes) {

        if(votes === null || votes.length === 0) {
            return;
        }

        $('.votecheck').hide();
        votes.forEach(x => $('.votecheck').filter('[value="' + x + '"]').closest('label').css('font-weight', 'bold').css('color', 'aqua'));

        $.ajax({
            type: 'POST',
            url: '/quip/vote',
            dataType: 'json',
            data:  {key:key, game:currgameid, vote:votes},
            success: function(data){
                if(!data.ok) {
                    $('.votecheck').show();
                }
            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });

    }

    function submit_username(usrname) {

        if(usrname === null || usrname === '') {
            return;
        }

        username = usrname;

        $('#waiting').show();
        $('#auth-menu').hide();


        $.ajax({
            type: 'POST',
            url: '/quip/auth',
            dataType: 'json',
            data: {name:username},
            success: function(data){
                auth_done(data);

            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });


    }

    function start_new_game() {

        $('#wellcome-screen').hide();
        $('#waiting').show();

        $.ajax({
            type: 'POST',
            url: '/quip/new',
            dataType: 'json',
            data: {key:key},
            success: function(data){
                enter_lobby(data);

            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });

    }

    function join_game(gamename, type = 'player') {

        if(!gamename || 0 === gamename.length) {
            return;
        }


        $('#wellcome-screen').hide();
        $('#waiting').show();

        $.ajax({
            type: 'POST',
            url: '/quip/join',
            dataType: 'json',
            data: {key:key, game:gamename, type:type},
            success: function(data){
                enter_lobby(data);

            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });

    }


    function lobby_set_ready(status) {

        $.ajax({
            type: 'POST',
            url: '/quip/ready',
            dataType: 'json',
            data:  {key:key, game:currgameid, ready:status},
            success: function(data){
                update_lobby_data(data);
            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });

    }

    function send_answer(answer) {

        if(answer === null || answer === '') {
            return;
        }


        $.ajax({
            type: 'POST',
            url: '/quip/answer',
            dataType: 'json',
            data:  {key:key, game:currgameid, answer:answer},
            success: function(data){
                update_lobby_data(data);
            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });


    }

    function leave_game() {
        $.ajax({
            type: 'POST',
            url: '/quip/leave',
            dataType: 'json',
            data:  {key:key, game:currgameid},
            success: function(data){
                clearInterval(interval);
                $('#lobby').hide();
                $('#wellcome-screen').show();
            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });
    }


</script>
