<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table id="auth-menu">
    <tr>
        <td>
            Имя
        </td>
        <td>
            <input type="text" id="usernameinput">
        </td>
    </tr>
    <tr>
        <td rowspan="99">
            <button id="usernameinputsubmit" onclick="submit_username($('#usernameinput').val());">Отправить</button>
        </td>
    </tr>
</table>

<div id="wellcome-screen" hidden>

    <h1>Wellcomen, <span id="username-show"></span></h1>

    <table>
        <tr>
            <td>
                <button onclick="start_new_game();">Новая игра</button>
            </td>
            <td>
                <button onclick="join_game($('#roomname_input').val())">Подключиться</button><input type="text" id="roomname_input">
            </td>
        </tr>
    </table>

</div>

<div id="waiting" hidden>
    <h1>Wating...</h1>
</div>

<div id="lobby" hidden>

    <h1 id="lobby-name"></h1>

    <div id="ready-buttons">
        <button onclick="lobby_set_ready(1)" id="lobby-ready">Готов</button>
        <button onclick="lobby_set_ready(0)" hidden id="lobby-unready">Не готов</button>
    </div>

    <table id="lobby-players">
        <tr>
            <th>Игроки</th>
        </tr>
    </table>

</div>

<div id="question" hidden>
    <h1>Игра началась!</h1>
    <h2>Придумайте забавный ответ на вопрос</h2>
    <h3 id="question-view"></h3>

    <input type="text" id="answer-inputtext">
    <button onclick="send_answer($('#answer-inputtext').val())">Отправить</button>

</div>




</body>
</html>

<script>

    var key = null;
    var username = null;
    var userid = null;
    var currgamename = null;
    var currgameid = null;

    function auth_done(data) {

        $('#username-show').text(username);

        key = data.key;
        userid = data.id;

        $('#waiting').hide();
        $('#auth-menu').hide();
        $('#wellcome-screen').show();

    }

    function enter_lobby(data) {

        currgamename = data.name;
        currgameid = data.id;

        $('#lobby-name').text(data.name);


        $('#wellcome-screen').hide();
        $('#waiting').hide();
        $('#lobby').show();

        start_lobby_update();
        setInterval(start_lobby_update, 1000);

    }

    function update_lobby_data(data) {
        $("#lobby-players").find("tr:gt(0)").remove();

        if (data.game.started !== null) {

            $('#ready-buttons').hide();
            $('#question').show();


            $('#question-view').text(data.question.question);

        } else {
            $('#question').hide();
        }

        $('#lobby').show();

        data.players.forEach(function (x) {

            if(x.ready == 'not ready') {
                if (x.userid === userid) {
                    $('#lobby-ready').show();
                    $('#lobby-unready').hide();
                }
                $("#lobby-players").append(`<tr><td style="color: red">${x.username}</td></tr>`);
            } else if(!x.answer_ready) {
                $("#lobby-players").append(`<tr><td style="color: #fff81c">${x.username}</td></tr>`);
            } else {
                $("#lobby-players").append(`<tr><td style="color: green">${x.username}</td></tr>`);

                if (x.userid === userid) {
                    $('#lobby-ready').hide();
                    $('#lobby-unready').show();
                }

            }
        });


    }

    function start_lobby_update() {

        $.ajax({
            type: 'POST',
            url: '/quip/lobby',
            dataType: 'json',
            data: {key:key, game:currgameid},
            success: function(data){
                update_lobby_data(data);
            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });

    }


    function submit_username(usrname) {

        username = usrname;

        $('#waiting').show();
        $('#auth-menu').hide();


        $.ajax({
            type: 'POST',
            url: '/quip/auth',
            dataType: 'json',
            data: {name:username},
            success: function(data){
                auth_done(data);

            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });


    }

    function start_new_game() {

        $('#wellcome-screen').hide();
        $('#waiting').show();

        $.ajax({
            type: 'POST',
            url: '/quip/new',
            dataType: 'json',
            data: {key:key},
            success: function(data){
                enter_lobby(data);

            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });

    }


    function join_game(gamename) {

        $('#wellcome-screen').hide();
        $('#waiting').show();

        $.ajax({
            type: 'POST',
            url: '/quip/join',
            dataType: 'json',
            data: {key:key, game:gamename},
            success: function(data){
                enter_lobby(data);

            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });

    }


    function lobby_set_ready(status) {

        $.ajax({
            type: 'POST',
            url: '/quip/ready',
            dataType: 'json',
            data:  {key:key, game:currgameid, ready:status},
            success: function(data){
                update_lobby_data(data);
            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });

    }

    function send_answer(answer) {

        $.ajax({
            type: 'POST',
            url: '/quip/answer',
            dataType: 'json',
            data:  {key:key, game:currgameid, answer:answer},
            success: function(data){
                update_lobby_data(data);
            },
            fail: function(data) {
                console.log('error');
                console.log(data);
            }
        });


    }


</script>
